Repository: {{ mirrorbits_repository_base_path }}
Templates: /usr/share/mirrorbits/
OutputMode: redirect
ListenAddress: {{ mirrorbits_listen }}
Gzip: true
RedisAddress: {{ mirrorbits_redis_host }}:{{ mirrorbits_redis_port }}
RedisPassword: {{ mirrorbits_redis_password }}
RedisDB: {{ mirrorbits_redis_db }}
LogDir: /var/log/mirrorbits
GeoipDatabasePath: {{ mirrorbits_geoip_db_path }}
ConcurrentSync: 5
ScanInterval: 30
CheckInterval: 1
RepositoryScanInterval: 5
Hashing: true
HashingAlgorithm: {{ mirrorbits_hashing_algo }}
DisallowRedirects: false
WeightDistributionRange: 1.5
DisableOnMissingFile: false
MaxLinkHeaders: 10
Fallbacks:
CacheTTL: 1h 