[Unit]
Description=Update dotfiles with chezmoi
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ chezmoi_bin_path }} update
Environment=HOME=/home/{{ chezmoi_user }}

[Install]
WantedBy=default.target 