global:
  scrape_interval: 60s

scrape_configs:
  - job_name: node
    static_configs: [{ targets: ["127.0.0.1:{{ node_exporter_port | default('9100') }}"] }]

{% if (enable_apache_exporter is not none and enable_apache_exporter)|bool
   or (enable_apache_exporter is none and auto_detect_exporters|default(true) and 'apache2' in (ansible_facts.packages|default({}))) %}
  - job_name: apache
    static_configs: [{ targets: ["127.0.0.1:9117"] }]
{% endif %}

{% if (enable_bind_exporter is not none and enable_bind_exporter)|bool
   or (enable_bind_exporter is none and auto_detect_exporters|default(true) and 'bind9' in (ansible_facts.packages|default({}))) %}
  - job_name: bind
    static_configs: [{ targets: ["127.0.0.1:9119"] }]
{% endif %}

{% if (enable_smartctl_exporter is not none and enable_smartctl_exporter)|bool
   or (enable_smartctl_exporter is none and auto_detect_exporters|default(true) and has_physical_disks|default(false))
   or (enable_smartctl_exporter == 'auto' and auto_detect_exporters|default(true) and has_physical_disks|default(false)) %}
  - job_name: smartctl
    static_configs: [{ targets: ["127.0.0.1:9633"] }]
{% endif %}

{% if (enable_mysql_exporter is not none and enable_mysql_exporter)|bool
   or (enable_mysql_exporter is none and auto_detect_exporters|default(true) and
       ('mariadb-server' in (ansible_facts.packages|default({})) or 'mysql-server' in (ansible_facts.packages|default({})))) %}
  - job_name: mysqld
    static_configs: [{ targets: ["127.0.0.1:9104"] }]
{% endif %}

{% if (enable_blackbox_exporter is defined and enable_blackbox_exporter)|bool %}
  - job_name: blackbox_icmp
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets: {{ blackbox_icmp_targets | default([]) }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: 127.0.0.1:{{ blackbox_exporter_port | default('9115') }}
      - source_labels: [__param_target]
        target_label: instance
      - target_label: job
        replacement: blackbox_icmp
    scrape_interval: 60s

  - job_name: blackbox_http
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: {{ blackbox_http_targets | default([]) }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: 127.0.0.1:{{ blackbox_exporter_port | default('9115') }}
      - source_labels: [__param_target]
        target_label: instance
      - target_label: job
        replacement: blackbox_http
    scrape_interval: 60s
{% endif %}

{% if custom_scrape_services is defined %}
{% for service in custom_scrape_services %}
  - job_name: "{{ service.name }}"
    static_configs: [{ targets: ["{{ service.target }}"] }]
    scrape_interval: "{{ service.interval | default('60s') }}"
{% endfor %}
{% endif %}
