[Unit]
Description=VictoriaMetrics vmagent
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/vmagent/remote.env
ExecStart={{ vmagent_binary_path }} \
  -promscrape.config=/etc/vmagent/scrape.yml \
  -remoteWrite.url=${VM_URL} \
  -remoteWrite.basicAuth.username=${VM_USER} \
  -remoteWrite.basicAuth.password=${VM_PASS} \
  -remoteWrite.tmpDataPath=/var/lib/vmagent \
  -remoteWrite.maxDiskUsagePerURL=5GB \
  -httpListenAddr=127.0.0.1:8429
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

