---
- name: Check if user already exists
  become: true
  ansible.builtin.getent:
    database: passwd
    key: "{{ my_user }}"
  register: user_exists
  ignore_errors: true

- name: Check if zsh is installed
  become: true
  ansible.builtin.stat:
    path: /bin/zsh
  register: zsh_installed

- name: Create admin user
  become: true
  ansible.builtin.user:
    name: "{{ my_user }}"
    password: "{{ password }}"
    groups: sudo
    shell: "{{ '/bin/zsh' if zsh_installed.stat.exists else '/bin/bash' }}"
    state: present
    append: true
  when: password is defined and not user_exists.ansible_facts.getent_passwd[my_user] is defined

- name: Update user shell and ensure sudo access
  become: true
  ansible.builtin.user:
    name: "{{ my_user }}"
    shell: "{{ '/bin/zsh' if zsh_installed.stat.exists else '/bin/bash' }}"
    groups: sudo
    append: true
  when: user_exists.ansible_facts.getent_passwd[my_user] is defined or password is not defined
