# Configuration for blackbox_exporter
# This file is managed by Ansible

# Blackbox exporter configuration file
BLACKBOX_CONFIG_FILE="/etc/prometheus/blackbox.yml"

# Additional command line options
BLACKBOX_OPTS="--config.file=${BLACKBOX_CONFIG_FILE} --web.listen-address=:{{ blackbox_exporter_port | default('9115') }}"
